<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="com.puzzleduck.testing.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="com.puzzleduck.testing.commands.category"
            id="com.puzzleduck.testing.commands.sampleCommand">
      </command>
      <command
            defaultHandler="com.puzzleduck.testing.ExitHandler"
            id="com.puzzleduck.testing.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="com.puzzleduck.testing.handlers.HtmlConvertHandler"
            id="com.puzzleduck.testing.htmlconvert"
            name="Convert">
      </command>
      <command
            defaultHandler="com.puzzleduck.testing.handlers.AddMarkerHandler"
            id="com.puzzleduck.testing.addmarker"
            name="Convert">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.puzzleduck.testing.commands.sampleCommand"
            class="com.puzzleduck.testing.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.puzzleduck.testing.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="PuZZle"
               mnemonic="M"
               id="com.puzzleduck.testing.menus.sampleMenu">
            <command
                  commandId="com.puzzleduck.testing.commands.sampleCommand"
                  id="com.puzzleduck.testing.menus.sampleCommand"
                  mnemonic="S"
                  style="pulldown">
            </command>
            <command
                  commandId="com.puzzleduck.testing.Exit"
                  label="Exit Workbench"
                  style="push"
                  tooltip="Exits the Eclipse IDE application.">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.puzzleduck.testing.toolbars.sampleToolbar">
            <command
                  commandId="com.puzzleduck.testing.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="com.puzzleduck.testing.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="com.puzzleduck.testing.htmlconvert"
               label="Convert to HTML"
               style="push">
               <visibleWhen checkEnabled="false">
                   <with variable="activeMenuSelection">
                       <iterate ifEmpty="false" operator="or">
                           <adapt type="org.eclipse.jdt.core.ICompilationUnit">
                           </adapt>
                       </iterate>
                   </with>
               </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="com.puzzleduck.testing.addmarker"
               label="Add a reminder"
               style="push">
               <visibleWhen checkEnabled="false">
                   <with variable="activeMenuSelection">
                       <iterate ifEmpty="false" operator="or">
                           <adapt type="org.eclipse.jdt.core.IJavaProject">
                           </adapt>
                       </iterate>
                   </with>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.puzzleduck.testing.TodoView"
            class="com.puzzleduck.testing.TodoAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
   </extension>

</plugin>
